name: Publish

on:
  push:
    branches:
      - master
    tags:
      - 'v*' # 仅在出现名为 v 字符开头的 tag 时，触发此任务，如 v1.2.1

jobs:
  test: # test 任务可选，视情况而定
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: test
      run: |
        npm i
        npm test

  build:
    needs: test # 设置前置任务
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14
        registry-url: https://registry.npmjs.org/
    - run: npm ci
    - run: npm run build
    - name: Archive production artifacts # 打包后动态生成的 dist/overscore.min.js 需要保存起来用于发布
      uses: actions/upload-artifact@v3
      with:
        name: dist
        path: dist
    # - run: npm pack

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14
        registry-url: https://registry.npmjs.org/
    - run: npm ci
    - name: Download production artifacts
      uses: actions/download-artifact@v3
      with:
        name: dist
        path: dist
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.OVERSCORE_PUBLISH_TOKEN}}

  github-release:
    needs: publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14
        registry-url: https://registry.npmjs.org/
    - run: npm i -g github-release-from-changelog
    - run: github-release-from-changelog
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
